{% extends 'base.html' %} {% load static %} {% block content %}
<div class="wrapper">
  <main>
    <div class="container">
      <div class="default-page">
        <h3>Reklama</h3>

        <h2>Qo`ng`iroq qiling:&nbsp;</h2>

        <p>
          <strong><a href="tel:+998 78 113 10 10">+998 78 113 10 10</a></strong>
        </p>

        <p>
          Reklama bilin bog`liq istalgan savollarni <strong>reklama@kun.uz</strong> elektron manzilga yuborishingiz mumkin.
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock content%}
